@import "../../styles/colors.scss";
@import "../../styles/textStyle.scss";

.todo-item {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $platinum;
  border-radius: 0.3rem;
  padding-inline: 5vw;

  .item-text {
    @include textStyle($eerie-black);
    .is-check {
      color: $red-pantone;
      text-decoration: line-through;
    }
  }
  .item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    .input-checkbox {
      cursor: pointer;
      accent-color: green;
      border: none;
      outline: none;
      width: 1.3vw;
      height: 1.3vw;
      &:hover {
        background: green;
      }
    }
    .button-icon-edit {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: $selective-yellow;
    }
    .icon {
      font-size: 1.5vw;
    }
    .button-icon-delete {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: $red-pantone;
    }
  }
}
