@import "../../styles/colors.scss";
@import "../../styles/textStyle.scss";

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $platinum;
  border-radius: 0.3rem;
  padding-inline: 5vw;

  .item-text {
    @include textStyle($eerie-black);
    .is-check {
      color: $red-pantone;
      text-decoration: line-through;
    }
    .form-edit {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;
      padding-block: 0.2vw;
      .form-input {
        display: flex;
        margin-block: 1vw;
        outline: none;
        border: 1px solid $platinum;
        padding: 0.2vw;
        border-radius: 0.3rem;
        @include textStyle($eerie-black);
      }

      .form-button {
        @include textStyle($white);
        background-color: $selective-yellow;
        outline: none;
        border: none;
        padding-block: 0.2vw;
        padding-inline: 0.7vw;
        border-radius: 0.3rem;
      }
    }
  }
  .item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    .input-checkbox {
      cursor: pointer;
      accent-color: green;
      border: none;
      outline: none;
      width: 1.3vw;
      height: 1.3vw;
      &:hover {
        background: green;
      }
    }
    .button-icon-edit {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: $selective-yellow;
    }
    .icon {
      font-size: 1.5vw;
    }
    .button-icon-delete {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: $red-pantone;
    }
  }
}
