@import "../../styles/colors.scss";
@import "../../styles/titleStyle.scss";

.todo-list {
  .todo-list-title {
    @include titleStyle();
  }
  .todo-list-items-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-block: 3vw;
  }
  .todo-list-row-delete {
    margin-bottom: 3vw;
  }
}
