$red-pantone: #e63946ff;
$honeydew: #f1faeeff;
$non-photo-blue: #a8dadcff;
$cerulean: #457b9dff;
$antiflash-white: #e7ecefff;
$baby-powder: #fdfffcff;
$caribbean-current: #16697aff;
$white: #ffffffff;
$eerie-black: #212529ff;
$french-gray: #bfbdc1ff;
$platinum: #dcdcddff;
$silver-2: #ccccccff;
$white-smoke: #f2f2f2ff;
$background-color: #faf9f9;
$selective-yellow: #ffb703ff;
